{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="justify-content-center mt-5">
        <div class="text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="justify-content-center mt-1">
        <div class="text-center">
            <p>We are FUEL.ON we server people to enhance their life routines
                </p>
            <p>Have you ever been stuck somewhere because you ran out of fuel? Or have you been in a
                situation where you have to line up in a long, endless line to get fuel for your vehicle?
                If Yes, then you can understand how important a system like this. Delivering fuel to
                customers’spots when they have to reach their stopping place in a hurry will save them
                enough time as they don’t have to stand in long queues at the petrol pump station.
                Furthermore, it also ensures that you travel worry-free and never get stuck on your journey
                because of a fuel shortage.</p>
                <h3>FOUNDERS</h3>
                <h6>AJINDAS CP</h6><h6>MOHAMMED SHAHEEN K C</h6><h6>VIDHU PRAKASH T P</h6>
        </div>
    </div>
</div>
{% endblock content %}