{% extends 'customer/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <div class="container mb-5">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="color: rgb(36, 36, 36);">
                        <img src="https://www.freepnglogos.com/uploads/tick-png/image-tick-mark-icon-png-good-luck-charlie-wiki-2.png" width="200" height="200" >
                        <h1>YOUR ORDER IS PLACED</h1>
                        <a href="http://127.0.0.1:8000/" class="btn btn-outline-primary">go to home</a>
                    </div>
              
        </div>
    </div>
</div>
{% endblock content %}